{% block body %}
{% for article in articles %}
    {{article.titre}}
    <fieldset>
      <legend>
          <div class="tag">
              {% for tag in article.tags %}
                  <span style="background: {{ tag.couleur }};">
                      {{ tag.libelle }}
                  </span>
              {% endfor %}
              <a href="{{ path('create_tag') }}">Créer un nouveau tag</a>
          </div>
        <p>
          {{article.description}}
        </p>
      </legend>
    </fieldset>
{% endfor %}
    <a href="">Créer un nouvel article</a>
{% endblock %}
